//------------------------------------------------------------------------------
// Class : det_env
// Description: UVM environment for det_1011.

class det_env extends uvm_env;
    `uvm_component_utils(det_env)

    det_agent      agent;      
    det_scoreboard scoreboard; 

    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction


    function void build_phase(uvm_phase phase);
        super.build_phase(phase);
        agent      = det_agent::type_id::create("agent",      this);
        scoreboard = det_scoreboard::type_id::create("scoreboard", this);
    endfunction


    function void connect_phase(uvm_phase phase);
        agent.mon.ap.connect(scoreboard.analysis_export);
    endfunction

endclass : det_env
